@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Font Styles */
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: white;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

/* Branding / Logo Font */
.brand-text {
  font-family: 'Pacifico', cursive;
  color: #059669; /* Tailwind green-600 */
}

/* Scroll Indicator */
.scroll-indicator {
  background-color: #059669; /* Tailwind green-600 */
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}
